.b-notfound {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: min(80%, 400px);
    height: 100dvh;
    margin: 0 auto;

    &_image {
        max-width: 100%;
    }

    &_text {
        font-size: clamp(25px, 1.8vw, 30px);
        font-weight: 700;
        margin: 10px 0 20px;
    }

    &_links {
        display: flex;
        justify-content: center;
        gap: 20px;
    }
}