@import "../../style/variables.scss";

.b-uploader {

    &_title {
        width: 100%;
        padding: 20px 5vw;
        font-size: clamp(25px, 1.8vw, 30px);
        border-bottom: 1px solid var(--line-color);
    }

    &_info {
        width: min(90%, 450px);
        margin: max(20px, 3vw) auto;
        text-align: center;

        &-title {
            display: block; 
            font-weight: 700;   
            margin-bottom: 5px;
            font-size: clamp(20px, 1.43vw, 25px);          
        }

        &-text {
            display: block;
            color: var(--light-font);
        }
    }

    &_image {
        width: 70%;
        height: auto;
        margin: 0 auto 20px;
        padding: 15px;
        position: relative;
        border: 3px dashed transparent;
        transition: border-color 0.4s;

        &.dragging {
            border: 3px dashed var(--bright-color);
            transition: border-color 0.4s;

            &::after {
                content: "Drop here";
                display: block;
                width: 100%;
                text-align: center;
                position: absolute;
                top: 45%;
                left: 0;
                color: var(--bright-color);
            }
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &_button {
        margin-top: 30px;

        img {
            margin-right: 10px;
        }
        
        input {
            display: none;
        }
    }

    &_messages {
        margin: 0 auto 15px;
        text-align: center;
        width: 90%;
    }

    &_message {
        margin-top: 10px;

        &--error {

            span {
                font-weight: 900;
                color: red;
                display: block;
            }
        }

        span {
            font-weight: 900;
            color: green;
            display: block;
        }
    }
    
    &_list-link {
        display: flex;
        justify-content: center;
        margin-top: 20px;

        .button-link {
            width: 150px;
        }
    }
}
